
    <title>Hairdu - About Us </title>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hairdu is reinventing client-hairstylist relationship.</h1>
                        <p class="intro-text">We are committed to cutting down unemployment and creating additional income opportunities for people all around the globe.</p>
                        <a href="#what" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="what" class=" content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="text-center">
                    <h2>CLIENT-HAIRSTYLIST RELATIONSHIP USED TO BE A NIGHTMARE. TODAY IT IS EXCITING.</h2>
                    <p>Hairdu is a new method for establishing a long-lasting relationship with vetted hair stylists, barbers and salons nearby. For clients; we eliminate the nightmare of finding hair stylists and booking appointments. For hair stylists; we expose them to thousands of prospects and earn more money. </p>
                    <a href="#view" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- About Section -->
    <section class="content-section ">
    <div class="container">
        <div id="view" class="partner-section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>HOW WE VIEW THE WORLD</h2>
                    <p>The potential of the hair and beauty industry is staggering. The market opportunity is soaring even in the sluggish and uneven economic recovery. Thanks to the Internet, the world has become a global community. However, the industry dawdle in innovation and technology. </p>
                    <p>We noticed that human desire for autonomy and convenience is growing exponentially. On one side, we perceive that men and women all over the world love to look good and feel confident. On the other side, we see that there is fast growing number of skilled and independent hair stylists in our community. Our aim is to connect these two forces together. </p>
                    <p>The result is greater opportunities for the people who are without work, additional income earning stream for hair stylists, and a positive economic impact for the cities we operate in.</p>
                </div>
            </div>
        </div>
    </div>
    </section>    
