    
    <title>Hairdu - Thank You </title>    <!-- About Section -->
    <section id="signup" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h2>Thank You</h2>
                <p>You are now subscribed</p>
                <p>Your Referal code is <%= root_url %>?ref=<%= @user.referral_code %></p>
            </div>
        </div>
    </section>    
    
    <div
        id="refcandy-mint"
        data-app-id="tctli6ezidek886777izvegq7"
        data-fname="John"
        data-lname="Smith"
        data-email="hairduapp@gmail.com"
        data-amount="10.99"
        data-currency="USD"
        data-timestamp="1431977904"
        data-signature="02dea1171c29e2e2916e5aacbd265101"
    ></div>
<script>(function(e){var t,n,r,i,s,o,u,a,f,l,c,h,p,d,v;f="script";l="refcandy-purchase-js";c="refcandy-mint";p="go.referralcandy.com/purchase/";t="data-app-id";r={email:"a",fname:"b",lname:"c",amount:"d",currency:"e","accepts-marketing":"f",timestamp:"g","referral-code":"h",locale:"i",signature:"ab"};i=e.getElementsByTagName(f)[0];s=function(e,t){if(t){return""+e+"="+encodeURIComponent(t)}else{return""}};d=function(e){return""+p+h.getAttribute(t)+".js?aa=75&"};if(!e.getElementById(l)){h=e.getElementById(c);if(h){o=e.createElement(f);o.id=l;a=function(){var e;e=[];for(n in r){u=r[n];v=h.getAttribute("data-"+n);e.push(s(u,v))}return e}();o.src=""+e.location.protocol+"//"+d(h.getAttribute(t))+a.join("&");return i.parentNode.insertBefore(o,i)}}})(document);</script>
  

</body>

</html>