<!-- Footer -->
    <footer>
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="cta-list">
                            <li>
                                <%=link_to "Get Early Access", root_url%>                     
                            </li>
                            <li>
                                <%=link_to "Hairdu for Stylists",users_stylist_path%>     
                            </li>
                            <li>
                                <%=link_to "About Us", static_pages_about_us_path%>  
                            </li>
                            <li>
                                <a href="#">Terms & Privacy</a>
                            </li>
                            <li>
                                <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap - iOS and Web Analytics" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </footer>

    <!-- jQuery -->
 